*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.block{
    background-color:#5361E4;
    /* width: 1440px; */
    height: 80px;
    display: flex;
    align-items: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header div img{
    width: 74px;
    height: 30px;
    cursor: pointer;
}
.header ul{
    display: flex;
    align-items: center;
    gap: 48px;
    letter-spacing: none;
    text-decoration: none;
}
.header ul li{
    list-style: none;
    /* text-decoration: none; */
    color: #FFFFFF;
    width: 96px;
    height: 23px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.77px;
    text-align: left;
}
.header .option{
    display: flex;
    align-items: center;
    gap: 38px;
    color: #FFFFFF;
}
.header .option select{
    color:#FFFFFF ;
    background-color:#5361E4 ;
    border: none;
    /* width: 38px; */
    height: 23px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.77px;
    text-align: left;
}
.header .option button{
    border: none;
    width: Hug (113px)px;
    height: Fixed (46px)px;
    top: 17px;
    left: 1177px;
    padding: 8px 24px 8px 24px;
    gap: 8px;
    border-radius: 12px;
    opacity: 0px;
    cursor: pointer;
    color: #5361E4;
    transition: all 0.5s;
}
.header .option button span{
    width: 65px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.24px;
    text-align: left;
    /* color: #5361E4;   */
}
.header .option button:hover{
    background-color:#828df3;
    color: #FFFFFF;
}
.nav{
    background-color: #e4e4e4;
}
.kompany{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 778px;
    margin-left: 182px;
    /* height: 1,271px; */
    top: 140px;
    /* left: 332px; */
    padding: 32px 38px;
    /* gap: 42px; */
    border-radius: 24px;
    background-color: #ffffff;
}
.kompany h1{
    /* width: 355px; */
    height: 42px;
    font-size: 32px;
    font-weight: 500;
    line-height: 41.6px;
    text-align: left;
    color: #2A2941;
    margin-top: 16px;
}
.kompany p{
    width: 303px;
    height: 21px;
    font-size: 16px;
    font-weight: 450;
    line-height: 20.8px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 32px;
    color: #B3B3B3;
}
.kompany .img{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 20px;
}
.kompany .img span{
    width: 57px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.24px;
    text-align: left;
    color: #5361E4;
}
.kompany label span{
    color: red;
}
.kompany label{
    width: 115px;
    height: 18px;
    font-size: 14px;
    font-weight: 450;
    line-height: 17.71px;
    text-align: left;
    color: #2A2941;
    g: 8px;

}
.kompany input{
    border: none;
    width: 702px;
    height: 56px;
    padding: 18px;
    gap: 10px;
    border-radius: 16px;
    border: 1px ;
    opacity: 0px;
    border: 1px solid #E3E3E3;
    margin-bottom: 20px;
}
.kompany .button div button{
    border: none;
    width: 60px;
    height: 60px;
    padding: 18px;
    border-radius: 12px;
    border: 1px;
    border: 1px solid #E3E3E3;
    margin-left: 8px;
    background-color: #FFFFFF;
    margin-bottom: 20px;    
    cursor: pointer;
}
.nationality{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nationality select{
    border: none;
    width: 341px;
    height: 56px;
    padding: 18px;
    gap: 0px;
    border-radius: 16px;
    border: 1px ;
    justify: space-between;
    opacity: 0px;
    border: 1px solid #E3E3E3;
    margin-bottom: 20px;
}
.kompany .footer select{
    border: none;
    width: 702px;
    height: 56px;
    padding: 18px;
    border-radius: 16px;
    border: 1px;
    border: 1px solid #E3E3E3;
}
.kompany .footer .input{
    width: 702px;
    height: 148px;
    padding: 18px ;
    gap: 10px;
    border-radius: 16px ;
    border: 1px ;
    border: 1px solid #E3E3E3;
}
.now{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.now button{
    border: none;
    width: Fixed 179.84px;
    height: Fixed 60px;
    top: 1179px;
    left: 38px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 16px ;
    cursor: pointer;
    background: #F8F8F8;
    color:  #6E6D77;


}
.now button:hover{
    background-color: #5361E4;
    color: #FFFFFF  ;
}
.now button span{
    width: 60px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.24px;
    letter-spacing: 1px;
    text-align: left;
    color: #6E6D77;

}
.now .now__button{
    width: Fixed 173.64px;
    height: Fixed 60px;
    top: 1179px;
    left: 566.36px;
    padding: 18px 24px 18px 24px;
    gap: 10px;
    border-radius: 16px;
    background: #5361E4;
    cursor: pointer;
    transition: all 0.5s;

}
.now .now__button:hover{
    color: #5361E4;
    background-color: #FFFFFF;
    
}
.now .now__button span{
    width: 87px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.24px;
    letter-spacing: 1px;
    text-align: left;
    color: #FFFFFF;
    /* transition: all 0.5s; */
}
/* .now .now__button span:hover{
    color: #5361E4;
} */